anndata==0.12.6
annoy==1.17.3
harmonypy==0.0.10
matplotlib==3.10.8
numpy==1.24.4
omicverse==1.7.8
pandas==2.3.3
scanpy==1.11.5
scib==1.1.7
scib_metrics==0.5.7
scipy==1.16.3
scvi==0.6.8
setuptools==80.9.0
setuptools==78.1.1
shap==0.50.0
torch==2.7.1
